{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Voltalia</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous">
    </head>
    <body class="bg-dark">
        <div class="container-xll">
            {{error}}
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #2680bdb0">
                <div class="container-fluid col-10">
                    <a class="navbar-brand" href="/tasks/">Voltalia</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggle-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <!-- ITENS -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <button class="btn btn-outline-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Adicionar</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Deletar</button>
                            </li>
                        </ul>
                        <!-- END ITENS -->

                        <!-- PROCURAR -->
                        <form action="" class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Procure o ativo" aria-label="Search">
                            <button class="btn btn-outline-warning" type="submit">Atualizar</button>
                        </form>
                        <!-- END PROCURAR -->
                    </div>
                </div>
            </nav>
            <!-- END NAVBAR -->
            <br>
            <!-- ADICIONAR MODAL -->
            <form 
                action="{% url 'add_localizacao' %}"
                method="POST"
                >
                {% csrf_token %}
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Adicionar Ativo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form 
                            action="{% url 'add_localizacao' %}"
                            method="POST"
                            >
                            {% csrf_token %}
                            <div class="modal-body">
                                <form action="">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="recipient-name" class="col-form-label">Longitude</label>
                                            <input type="text" class="form-control" id="longitude" name="longitude">
                                        </div>
                                        <div class="col-6">
                                            <label for="recipient-name" class="col-form-label">Latitude</label>
                                            <input type="text" class="form-control" id="latitude" name="latitude">
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" aria-label="Close" data-bs-dismiss="modal" type="button">Cancelar</button>
                                <button class="btn btn-primary" data-bs-toggle="modal" type="submit">Criar</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </form>
            <!-- DELETAR MODAL -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Deletar Ativo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="col-4">
                                    <label for="recipient-name" class="col-form-label">ID</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </form>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-danger">Deletar</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- END DELETAR MODAL -->

            <!-- EFICIÊNCIA MODAL -->
            
            <!-- END EFICIÊNCIA MODAL -->

            <!-- Listando ativos -->
            {% for loc in localizacao %}
                <div class="list-group">
                    <div
                    class="card card-body bg-secondary text-light d-flex flex-row justify-content-between mb-2"
                    >
                    <div>
                        <p>ID: {{loc.id}}</p>
                        <p>Longitude: {{loc.longitude}}</p>
                        <p>Latitude: {{loc.latitude}}</p>
                    </div>
                    <a class="btn btn-primary" href="{% url 'list_eficiencia' loc.id %}">Ver eficiência</a>
                    <a class="btn btn-primary" href="{% url 'buscar' loc.id %}">Adicionar Eficiência</a>
                    <form action="{% url 'deletar_loc' loc.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                    </div>
                </div>
                {% empty %}
                    <h1 class="text-light">Nenhum equipamento cadastrado!</h1>
            {% endfor %}
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>